In [2]:
#import required packages
import boto3
import requests
import json
import pandas as pd
from datetime import datetime
import time

## Check s3 for files

In [9]:
# Create an S3 client
s3 = boto3.client('s3')

# List objects with the prefix
response = s3.list_objects_v2(Bucket='ecogridaidata', Prefix='eia_electricity/')

# Print the file keys
for obj in response.get('Contents', []):
    print(obj['Key'])

eia_electricity/eia_data_demand_20250324_225715.json
eia_electricity/eia_data_energy_source_20250323_200432.json
eia_electricity/eia_data_neighboring_bal_20250324_224805.json
eia_electricity/eia_data_subregion_20250323_191441.json

## Load data stored as a json file in s3 "ecogridaidata" into a dataframe for verification and processing

In [10]:
# S3 path to your file
s3_uri = "s3://ecogridaidata/eia_electricity/eia_data_subregion_20250323_191441.json"
s3_uri2 = "s3://ecogridaidata/eia_electricity/eia_data_energy_source_20250323_200432.json"
s3_uri3 = "s3://ecogridaidata/eia_electricity/eia_data_neighboring_bal_20250324_224805.json"
s3_uri4 = "s3://ecogridaidata/eia_electricity/eia_data_demand_20250324_225715.json"

# Read json directly into pandas DataFrame
df_subregion = pd.read_json(s3_uri, storage_options={"anon": False})
df_energysource = pd.read_json(s3_uri2, storage_options={"anon": False})
df_neighbor_bal = pd.read_json(s3_uri3, storage_options={"anon": False})
df_demand = pd.read_json(s3_uri4, storage_options={"anon": False})

# Preview the data
df_subregion.head()

,period,subba,subba-name,parent,parent-name,timezone,value,value-units
0,2024-12-31,PGAE,Pacific Gas and Electric,CISO,California Independent System Operator,Arizona,247213,megawatthours
1,2024-12-31,PGAE,Pacific Gas and Electric,CISO,California Independent System Operator,Central,247876,megawatthours
2,2024-12-31,PGAE,Pacific Gas and Electric,CISO,California Independent System Operator,Eastern,248481,megawatthours
3,2024-12-31,PGAE,Pacific Gas and Electric,CISO,California Independent System Operator,Mountain,247213,megawatthours
4,2024-12-31,PGAE,Pacific Gas and Electric,CISO,California Independent System Operator,Pacific,246697,megawatthours

In [11]:
df_energysource.head()

,period,respondent,respondent-name,fueltype,type-name,timezone,timezone-description,value,value-units
0,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Arizona,Arizona,23782,megawatthours
1,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Central,Central,23309,megawatthours
2,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Eastern,Eastern,22893,megawatthours
3,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Mountain,Mountain,23782,megawatthours
4,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Pacific,Pacific,24422,megawatthours

In [12]:
df_neighbor_bal.head()

,period,fromba,fromba-name,toba,toba-name,timezone,value,value-units
0,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",MISO,"Midcontinent Independent System Operator, Inc.",Arizona,584,megawatthours
1,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",MISO,"Midcontinent Independent System Operator, Inc.",Central,359,megawatthours
2,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",MISO,"Midcontinent Independent System Operator, Inc.",Eastern,321,megawatthours
3,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",MISO,"Midcontinent Independent System Operator, Inc.",Mountain,584,megawatthours
4,2024-12-31,AECI,"Associated Electric Cooperative, Inc.",MISO,"Midcontinent Independent System Operator, Inc.",Pacific,1111,megawatthours

In [13]:
df_demand.head()

,period,respondent,respondent-name,type,type-name,timezone,timezone-description
0,2025-03-24,AECI,"Associated Electric Cooperative, Inc.",DF,Day-ahead demand forecast,Central,Central
1,2025-03-24,AECI,"Associated Electric Cooperative, Inc.",DF,Day-ahead demand forecast,Eastern,Eastern
2,2025-03-24,AVA,Avista Corporation,DF,Day-ahead demand forecast,Arizona,Arizona
3,2025-03-24,AVA,Avista Corporation,DF,Day-ahead demand forecast,Central,Central
4,2025-03-24,AVA,Avista Corporation,DF,Day-ahead demand forecast,Eastern,Eastern

## Load dataframe into aws athena database

In [ ]:
athena = boto3.client('athena')

# Set parameters
database_name = 'ecodataaidatabase'
output_location = "s3://ecogridaidata/eia_electricity/"

In [ ]:
# Ingest data for bias

In [ ]:
# Prepare dataset for training